<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Update Team Details</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" type="text/css" href="/css/style2.css" />
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          <script src="/js/script.js"></script>
          <link rel="icon" href="/images/001-shutter.png">

</head>
<body>

    <div class="logo-banner row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img">
          <a href="/homePage"><img src="/images/001-shutter-name.png"/></a>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-3 col-xs-3">
          <p class="logo-name"></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img user-section">
          <img src="/images/002-user.svg"/>
          <div>
            <p>Welcome, Admin</p>
            <p><a>Settings</a><a>Log Out</a></p>
          </div>
        </div>
    </div>

<div class="container">
    <div class="row">
         <form class="form-horizontal action-form newteam" id="updateTeamDetails" action="updateTeamDetails" method="post" >

            <fieldset class="form-content">
                <!-- Address form -->
         
                <h3>Update Team Details</h3>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><b>Select a Team To Update:</b></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select required id="teamid" name="teamid" class="input-xlarge form-control" onchange="getTeamDetails(this.value);">
                            
                             <option value="">--Select--</option>
                            <% for(var i=0; i<teamsList[0].length; i++) {%>
                               <%if (teamsList[0][i].team_code.length > 0) { %>
                                    <option value=<%= teamsList[0][i].team_id %>><%= teamsList[0][i].team_name %></option>
                                       
                               <% } %>
                            <% } %>
                        </select>
                    </div>
                </div><br/><br/>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Team Name:<span class="mandatory-field">*</span></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <span class="error-name">The Team Name Already Exists.</span>
                        <input required name="teamName" id="teamName" type="text" placeholder="Team Name"
                        class="input-xlarge form-control" onblur="checkTeamNameDuplication(this.value,'update')"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label >Team Code:<span class="mandatory-field">*</span></label>
                        
                    </div>
                    
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <input required id="teamCode" name="teamCode" type="text" placeholder="Team Code" class="input-xlarge form-control uppercase-input" pattern="[A-Z0-9]{3}" maxlength=3 readonly="readonly"/>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Coach Name:</label>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <input required name="coachFirstName" id="coachFirstName" type="text" placeholder="Coach First Name"
                        class="input-xlarge form-control" />
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <input name="coachLastName" id="coachLastName" type="text" placeholder="Coach Last Name"
                        class="input-xlarge form-control" />
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Coach Country:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select required id="coachCountry" name="coachCountry" class="input-xlarge form-control">
                            <option value="">--Select--</option>
                            <% for(var i=0; i<countryList[0].length; i++) {%>
                               <%if (countryList[0][i].country_code.length > 0) { %>
                                    <option value=<%= countryList[0][i].country_code %>><%= countryList[0][i].country_name %></option>      
                               <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Coach Contract Start(YYYY)</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <input id="coachcontractyear" name="coachcontractyear" type="number" class="input-xlarge form-control" placeholder="Contract Start Year" maxlength=4 />
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Coach Contract End(YYYY)</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <input id="coachcontractyearend" name="coachcontractyearend" type="number" class="input-xlarge form-control" placeholder="Contract End Year" maxlength=4 />
                    </div>
                </div>

                <!-- <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Analyst Name:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <input required name="" type="text" placeholder="Analyst Name"
                        class="input-xlarge form-control" />
                    </div>
                </div> -->

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Team Type:<span class="mandatory-field">*</span></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select id="teamType" name="teamType" class="input-xlarge form-control" required>
                            <option value="">--Select--</option>
                            <option value="Domestic">Domestic</option>
                            <option value="International">International</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Team Logo:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="teamLogo" aria-describedby="inputGroupFileAddon01" name="teamLogo" value="" >
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Team Country:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select id="teamCountry" name="teamCountry" class="input-xlarge form-control" required>
                            <option value="">--Select--</option>
                            <% for(var i=0; i<countryList[0].length; i++) {%>
                               <%if (countryList[0][i].country_code.length > 0) { %>
                                    <option value=<%= countryList[0][i].country_code %>><%= countryList[0][i].country_name %></option>      
                               <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <input class="submitButton" type="submit" name="" id="" value="Update" />
                </div>

            </fieldset>
        </form>
    </div>
</div>

<footer class="footer-section">
    <p>Copyright © 2018 SportsLens</p>
</footer>

</body>
</html>
