<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Update Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

          <link rel="stylesheet" type="text/css" href="/css/style2.css" />
          <link rel="icon" href="/images/001-shutter.png">

          <script src="/js/script.js"></script>
          <script type="text/javascript">
            
            $('select').selectpicker();
          </script>
</head>
<body>

    <div class="logo-banner row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img">
          <a href="/homePage"><img src="/images/001-shutter-name.png"/></a>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-3 col-xs-3">
          <p class="logo-name"></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img user-section">
          <img src="/images/002-user.svg"/>
          <div>
            <p>Welcome, Admin</p>
            <p><a>Settings</a><a>Log Out</a></p>
          </div>
        </div>
    </div>

<div class="container">
    <div class="row">
         <form class="form-horizontal action-form newplayer" id="updatePlayerDetails" action="updatePlayerData" method="post" >

            <fieldset class="form-content">
                <!-- Address form -->
         
                <h3>Update Player Details</h3>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><b>Select a Player To Update:</b></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select required id="playerId" name="playerId" class="input-xlarge form-control" onchange="getplayerDetails(this.value);">
                            
                             <option value="">--Select--</option>
                             <% for(var i=0; i<playerList[0].length; i++) {%>
                               <%if (playerList[0][i].player_name.length > 0) { %>
                                    <option value=<%= playerList[0][i].player_id %>><%= playerList[0][i].player_name %></option>
                                       
                               <% } %>
                            <% } %>
                            
                        </select>
                    </div>
                </div><br/><br/>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player's Name:<span class="mandatory-field">*</span></label>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <input required name="playerFirstName" id="playerFirstName" type="text" placeholder="Player's First Name*"
                        class="input-xlarge form-control" />
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <input name="playerLastName" id="playerLastName" type="text" placeholder="Player's Last Name"
                        class="input-xlarge form-control" />
                    </div>
                </div>

                <!-- <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player's Last Name:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <input required name="" type="text" placeholder="Player's Last Name"
                        class="input-xlarge form-control" />
                    </div>
                </div> -->

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Batting Style:<span class="mandatory-field">*</span></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select required id="battingStyle" name="battingStyle" class="input-xlarge form-control">
                            <option value="">Select</option>
                            <option value="Right">Right Hand Batsman</option>
                            <option value="Left">Left Hand Batsman</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Bowling Style:<span class="mandatory-field">*</span></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select required id="bowlingStyle" name="bowlingStyle" class="input-xlarge form-control">
                            
                            <option value="">--Select--</option>
                            <% for(var i=0; i<bowlingStyles[0].length; i++) {%>
                               <%if (bowlingStyles[0][i].bowl_style_abbr.length > 0) { %>
                                    <option value=<%= bowlingStyles[0][i].bowl_style_abbr %>><%= bowlingStyles[0][i].bowl_style_descr %></option>
                                       
                               <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Primary Team Name:<span class="mandatory-field">*</span></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <select required id="teamName" name="teamName" class="input-xlarge form-control">
                            
                             <option value="">--Select--</option>
                            <% for(var i=0; i<teamsList[0].length; i++) {%>
                               <%if (teamsList[0][i].team_code.length > 0) { %>
                                    <option value=<%= teamsList[0][i].team_code %>><%= teamsList[0][i].team_name %></option>
                                       
                               <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="row multi-select-section">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player's Team List:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <select name="playerTeams" id="playerTeams" class="selectpicker" multiple data-live-search="true" >
                            <% for(var i=0; i<teamsList[0].length; i++) {%>
                               <%if (teamsList[0][i].team_code.length > 0) { %>
                                    <option value=<%= teamsList[0][i].team_code %>><%= teamsList[0][i].team_name %></option>
                                       
                               <% } %>
                            <% } %>
                        </select>
                    </div>
                </div> 


                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player Image:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="playerImage" >
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player's Date of Birth:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <input format="mm-dd-yyyy" id="playerDOB" name="playerDOB" type="date" class="input-xlarge form-control" />
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Country of Origin:<span class="mandatory-field">*</span></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <select required id="playerCountry" name="playerCountry" class="input-xlarge form-control">
                            <option value="">--Select--</option>
                            <% for(var i=0; i<countryList[0].length; i++) {%>
                               <%if (countryList[0][i].country_code.length > 0) { %>
                                    <option value=<%= countryList[0][i].country_code %>><%= countryList[0][i].country_name %></option>
                                       
                               <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player Status:<span class="mandatory-field">*</span></label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <select required id="playerStatus" name="playerStatus" class="input-xlarge form-control">
                            <option value="">--Select--</option>
                            <% for(var i=0; i<playerStatus[0].length; i++) {%>
                               <%if (playerStatus[0][i].player_status_descr.length > 0) { %>
                                    <option value=<%= playerStatus[0][i].player_status_flag %>><%= playerStatus[0][i].player_status_descr %></option>
                                       
                               <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <input class="submitButton" type="submit" name="submitPlayer" id="submitPlayer" value="Update" />
                </div>

            </fieldset>
        </form>
    </div>
</div>

<footer class="footer-section">
    <p>Copyright © 2018 SportsLens</p>
</footer>

</body>
</html>
